// main content section
main {
    padding: 0 16px;
    background: $gradient-background;
}

// content section
.content-section {
	margin-bottom: 5 * $unit;
}

// section headers
.section-header {
    > h2 {
        text-align: center;
    }
}

// heading motif
.heading-motif {
    &__anchor {
        position: relative;
        z-index: 0;

        &::before {
            content: "";
            position: absolute;
            width: 11 * $unit;
            height: 4 * $unit;
            top: -1.5 * $unit;
            left: -1 * $unit;
            background: transparent url('../img/heading-motif-wide.svg') no-repeat 0% 50%;
            z-index: -1;
        }
    }
}

// card
.card{
	padding: $unit;
    border-radius: $unit / 4;
    background: #fff;
    box-shadow: $box-shadow-card;
}