.wrapper {
    width: 100%;
    margin: auto;
    max-width: 1440px;
}

// content sections
.content-section {
    margin-bottom: 5 * $unit;

    @include bp(sm) {
        margin-bottom: 8 * $unit;
    }

    @include bp(lg) {
        margin-bottom: 9 * $unit;
    }
}

// section headers
.section-header {
    overflow: hidden;

    @include bp(md) {
        display: flex;
        position: relative;
    }

    h2 {
        text-align: center;
        position: relative;
        margin-bottom: 2* $unit;

        @include bp(md) {
            text-align: left;
        }
    }

    &__icon-wrapper {
        display: none;

        @include bp(md) {
            display: block;
            position: relative;
            margin-left: auto;
            opacity: 0;
            transform-origin: 100% 50%;
            transform: translateX(#{4 * $unit}) scale(0);
            transition: $easing .5s;
        }

        .scroll-anchor--seen & {
            @include bp(md) {
                transform: translateX(0) scale(1);
                opacity: 1;
            }
        }
    }

    &__svg-wrapper {
        @include bp(md) {
            height: $unit * 4;
            width: $unit * 4;
        }

        svg {
            @include bp(md) {
                width: 100%;
                height: 100%;
                fill: $color-grayscale;
                opacity: .1;
            }
        }
    }
}

// buttons
.button {
    position: relative;
    z-index: 0;
    overflow: hidden;
    display: inline-block;
    max-width: 100%;
    padding: $padding-button;
    background: none;
    border: none;
    cursor: pointer;
    text-decoration: none;
    box-shadow: $box-shadow-button;
    border-radius: $border-radius-card;
    transition: $transition-default, 0s outline;

    span {
        opacity: .9;
        transition: $transition-default;
    }

    &::before {
        content: "";
        width: 200%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background: $gradient-button;
        transition: $transition-default;
        z-index: -2;
        border-radius: $unit / 8;
    }

    &:hover {
        @include bp(md) {
            box-shadow: $box-shadow-button--hover;
        }

        span {
            @include bp(md) {
                opacity: 1;
            }
        }

        &::before {
            @include bp(md) {
                transform: translateX(-50%);
            }
        }
    }
}

// icon buttons
.button {
    &--icon-with-text {

        svg,
        img {
            width: 18px;
            height: 18px;
            fill: #fff;
            margin-right: $unit;
            transform: translateY(2px);
            transition: $transition-default;
            opacity: .9;
        }

        &:hover {

            svg,
            img {
                @include bp(md) {
                    opacity: 1;
                    transition: $transition-default;
                }
            }
        }
    }

    &--icon {
        display: flex;
        width: 4 * $unit;
        height: 4 * $unit;
        border-radius: 50%;
        padding: 0;

        &::after {
            border-radius: 99em;
        }

        svg,
        img {
            display: block;
            width: 50%;
            height: 50%;
            fill: #fff;
            margin: auto;
            opacity: .9;
            transition: $transition-default;
        }

        // hover styles for social icons
        &:hover {

            svg,
            img {
                @include bp(md) {
                    opacity: 1;
                }
            }
        }
    }
}



// tabs
.tab {
    span {
        transition: unset;
    }

    &::before {
        width: 100%;
    }

    &:hover {
        &::before {
            @include bp(md) {
                transform: none;
            }
        }
    }

    &:not(.tab--active) {
        box-shadow: $box-shadow-tab--inactive;

        span {
            color: $color-grayscale;
        }

        &::before {
            background: $color-background-gray--darker;
        }

        &:hover {
            @include bp(md) {
                box-shadow: $box-shadow-tab--inactive-hover;
            }
        }
    }

    &--active {
        box-shadow: $box-shadow-tab--active;

        &::before {
            opacity: .9;
        }

        &:hover {
            box-shadow: $box-shadow-tab--active-hover;

            &::before {
                opacity: 1;
            }
        }
    }
}

// lists
.plain-list {
    padding-left: 0;
    list-style: none;
    margin-top: unset;
    margin-bottom: unset;
}

// inputs
input[type="email"],
textarea {
    width: 100%;
    height: 4 * $unit;
    padding: $unit;
    margin-bottom: $unit;
    border: none;
    border-radius: $border-radius-card;
    background: $color-background-gray--darker;
    box-shadow: $box-shadow-input;
    transition: $transition-default;

    &:focus {
        background: #fff;
        transition: unset;
    }
}

input[type="email"] {
    @include bp(sm) {
        padding: $unit 2 * $unit;
    }
}

textarea {
    resize: vertical;
    min-height: 10 * $unit;

    @include bp(sm) {
        padding: $unit * 2
    }
}

// images
img {
    max-width: 100%;
    display: block;
}

// card
.card {
    padding: $unit;
    border-radius: $border-radius-card;
    background: #fff;
    box-shadow: $box-shadow-card;
}

// card hero images
.card-hero {
    margin-bottom: $unit;
    width: 100%;

    @include bp(sm) {
        margin-bottom: 2 * $unit;
    }
}

// accessible hide
.accessible-hide {
    @include hide();
}