// button
button,
.button {
    display: inline-block;
    max-width: 100%;
    background: transparent;
    padding: 22px 32px 24px;
    border: none;
    box-shadow: $box-shadow-button;
    border-radius: $border-radius-card;
    cursor: pointer;
    text-decoration: none;
    position:relative;
    overflow: hidden;
    transition: $transition-default;

    span{
        opacity: .9;
        transition: $transition-default;
    }

    &::before{
        content:"";
        width: 200%;
        z-index:-1;
        height:100%;
        position:absolute;
        left:0;
        top:0;
        background: $gradient-button;
        transition: $transition-default;
    }

    &:hover{
        @include bp(lg){
            box-shadow: $box-shadow-button--hover;
        }

        span{
            opacity: 1;
        }

        &::before{
            @include bp(lg){
                transform:translateX(-50%);
            }
        }
    }
}

// icon button
.button{
    &--icon{
        svg,
        img{
            width: 18px;
            height: 18px;
            fill: #fff;
            margin-right: $unit;
            transform: translateY(2px);
            transition: $transition-default;
            opacity: .9;
        }

        &:hover{
            svg,
            img{
                opacity: 1;
                transition: $transition-default;
            }
        }
    }
}

// labels
label {
    // display: block;
    // transition: $transition-default;
}

label.js-focused{
    // transform: translateY(-#{$unit/4});
}

// inputs
input[type="email"],
textarea {
    width: 100%;
    height: 4 * $unit;
    padding: $unit;
    margin-bottom: $unit;
    border: none;
    border-radius: $border-radius-card;
    background: $color-background-gray--dark;
    box-shadow: $box-shadow-input;
    transition: .2s $easing all, 0s border, 0s padding;

    &:focus{
        outline: none;
        padding: $unit - 1px;
        border: 1px solid $color-grayscale--lighter;
        box-shadow: $box-shadow-input--active;
        background: #fff;
    }
}

textarea {
    resize: vertical;
    min-height: 8 * $unit;
}

// images
img {
    max-width: 100%;
    display: block;
}

// heading motif
.heading-motif {
    &__anchor {
        position: relative;
        z-index: 0;

        &::before {
            content: "";
            position: absolute;
            width: 11 * $unit;
            height: 4 * $unit;
            top: -1.5 * $unit;
            left: -1 * $unit;
            background: transparent url('../img/heading-motif-wide.svg') no-repeat 0% 50%;
            z-index: -1;

            @include bp(max-xs) {
                display: none;
            }
        }
    }
}

// card
.card {
    padding: $unit;
    border-radius: $unit / 4;
    background: #fff;
    box-shadow: $box-shadow-card;
}

// card hero images
.card-hero {
    border-radius: $border-radius-portfolio-hero;
    margin-bottom: $unit;
    width: 100%;
}