// contact
.contact {
    // section-level
    position: relative;
    min-height: 24 * $unit;
    z-index: 0;
    padding: 5 * $unit $unit 8 * $unit $unit;

    h2 {
        text-align: center;
    }

    // section-level gradient
    &::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background-image: $gradient-primary;
        z-index: -1;
    }

    // section-level background image
    &::after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background: transparent url('https://picsum.photos/800?image=299') no-repeat 50% 100%;
        background-size: cover;
        z-index: -2;
    }

    // intro
    &__intro {
        p {
            text-align: center;
        }
    }

    // social icons wrapper
    &__social-icons {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 2 * $unit;
    }

    // social icons
    &__social-icon {
        display: flex;
        width: 4 * $unit;
        height: 4 * $unit;
        border-radius: 50%;
        background: $gradient-button;
        margin: $unit;
        box-shadow: $box-shadow-button;

        @include bp(xs) {
            margin: 0 $unit 0 0;
        }


        // fix margin on last of type
        &:last-of-type {
            @include bp(xs) {
                margin-right: 0;
            }
        }

        svg,
        img {
            width: 50%;
            height: 50%;
            fill: #fff;
            margin: auto;
        }
    }

    // contact form
    &__form {
        &-section-wrapper--submit {
            margin-top: $unit;
            text-align: center;

            .button {
                width: 100%;
            }
        }
    }
}