.portfolio__article-content {

    a {
        @extend .inline-link;
    }

    h4 {
        margin-top: $unit;
    }


    figure {
        margin: 0;

        img {
            margin: 0 auto $unit;

            &:last-of-type {
                margin-bottom: 0;
            }

            @include bp(sm) {
                width: 50%;
                box-shadow: 0 2px 12px -4px rgba(black, .1)
            }
        }

        figcaption {
            margin-top: $unit/2;
            margin-bottom: $unit*1.5;

            @include bp(sm) {
                margin-bottom: $unit*2;
            }
        }

        &.max {
            img {
                @include bp(sm) {
                    height: auto;
                    max-height: none;
                    width: 100%;
                }
            }
        }
    }
}


@supports (display:grid) {
    .portfolio__article-content {
        figure {
            >div {
                @include bp(sm) {
                    display: grid;
                    grid-template-columns: minmax(0, 1fr);
                    grid-auto-columns: minmax(0, 1fr);
                    grid-auto-flow: column;
                    grid-gap: 0 2*$unit;
                    align-items: end;
                }
            }

            img {
                @include bp(sm) {
                    margin: 0 auto;
                    width: auto;
                    max-height: 400px;
                }
            }

            &.cover {
                >div {
                    @supports(object-fit: cover) {
                        @include bp(sm) {
                            height: 400px;
                        }
                    }
                }

                img {
                    @supports(object-fit: cover) {
                        @include bp(sm) {
                            max-height: none;
                            height: 100%;
                            width: 100%;
                            object-fit: cover
                        }
                    }
                }
            }
        }
    }
}