// contact
.contact {

    // section-level
    position: relative;
    min-height: 24 * $unit;
    z-index: 0;
    padding: 5 * $unit $unit 8 * $unit $unit;

    @include bp(sm) {
        padding: 8 * $unit $unit * 2;
    }

    @include bp(md) {
        padding: 8 * $unit $unit * 4;
    }

    h2 {
        text-align: center;

        @include bp(md) {
            text-align: left;
        }
    }

    // section-level background gradient
    &::after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background: $gradient-primary 50% 50%;
        z-index: -1;
    }

    // section-level image
    &::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        opacity: .4;
        z-index: -2;
        background: transparent url('../img/site-header-bg-grid.svg');
        background-size: 100px 100px;
    }


    // intro
    &__intro {
        p {
            text-align: center;

            @include bp(md) {
                margin-bottom: $unit;
            }

            &:first-of-type {
                @include bp(md) {
                    margin-top: 2*$unit;
                }
            }

            &:last-of-type {
                margin-bottom: 2*$unit;
            }
        }
    }

    // social icons list
    &__social-icons {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 2 * $unit;


        li {
            display: block;
            margin: $unit;
            margin: 0 $unit/2 $unit/2 $unit/2;

            @include bp(sm) {
                margin: 0 $unit $unit $unit;
            }

            @include bp(md) {
                margin: 0 $unit 0 0
            }
        }

        .button--icon {
            width: 3 * $unit;
            height: 3 * $unit;
        }
    }

    // contact form
    &__form {

        // button area
        &-section-wrapper--submit {
            margin-top: $unit;
            text-align: center;

            .button {
                width: 100%;

                @include bp(sm) {
                    width: auto;
                    min-width: 200px;
                }
            }
        }

        // ajax submission stuff
        // form is submitting
        &.js-submitting {

            // inputs
            input[type="email"],
            textarea {
                cursor: not-allowed;
                background: rgba(white, .75);
                box-shadow: none;
            }

            // submit button and icons
            .contact__form-section-wrapper--submit {
                .button {
                    // change color
                    opacity: .75;


                    // js adds new icon, and we add css3 animation
                    svg,
                    img {
                        animation: submit-button-icon-spin .5s infinite forwards linear;
                    }

                    &::before {
                        transform: translateX(-50%);
                    }
                }
            }
        }

        // form has been submitted
        &.js-submitted {

            // inputs
            input[type="email"],
            textarea {
                cursor: not-allowed;
                background: rgba(white, .75);
                box-shadow: none;
            }

            // submit button and icons
            .contact__form-section-wrapper--submit {
                .button {
                    color: $color-grayscale--light;
                    box-shadow: none;
                    cursor: not-allowed;

                    &::before {
                        background: rgba(white, .75);
                    }

                    svg {
                        fill: $color-grayscale;
                    }

                    img {
                        display: none;
                    }
                }
            }
        }
    }
}

// css grid enabled md bp and above
@supports (display:grid) {
    .contact {
        .wrapper {
            @include bp(md) {
                display: grid;
                grid-template-columns: repeat(2, minmax(0, 1fr));
                grid-gap: 0 2 * $unit;
            }
        }

        &__header {
            @include bp(md) {
                grid-column: 1 / -1;
                grid-row: 1 / 2;
            }

            h2 {
                @include bp(md) {
                    margin-bottom: 2 * $unit
                }
            }
        }

        &__intro {
            @include bp(md) {
                grid-column: 1 / 2;
                grid-row: 2 / 3;
            }

            h2 {
                @include bp(md) {
                    margin-bottom: 2 * $unit
                }
            }

            p {
                @include bp(md) {
                    text-align: left;
                }
            }
        }

        &__social-icons {
            @include bp(md) {
                justify-content: flex-start
            }
        }

        &__forms {
            @include bp(md) {
                grid-column: 2 / 3;
                grid-row: 2 / span 2;
            }
        }

        &__form {
            &-section-wrapper--submit {
                @include bp(md) {
                    text-align: right;
                }

                .button {
                    @include bp(md) {
                        min-width: unset;
                    }
                }
            }
        }
    }
}