// about
.about {

    // about card
    &__content {
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;

        @include bp(md) {
            flex-wrap: nowrap;
            padding: 2 * $unit;
        }

        // hero
        &-hero {
            @include bp(md) {
                flex-basis: 50%;
                margin-bottom: 0;
            }

            @include bp(lg) {
                width: 33%;
            }

            img {
                width: 100%;

                @supports (object-fit: cover) {
                    @include bp(md) {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: 50% 100%;
                    }
                }
            }
        }

        // content-wraper
        &-wrapper {
            @include bp(md) {
                flex-shrink: 1;
                flex-basis: 50%;
                margin-left: 2 * $unit;
            }

            @include bp(lg) {
                width: 67%;
            }
        }

        // about header
        &-header {
            padding: 0 $unit;

            @include bp(md) {
                padding: 0;
            }

            h3 {
                text-align: center;

                @include bp(md) {
                    margin-bottom: $unit;
                }

                @include bp(lg) {
                    text-align: left;
                }
            }
        }

        // about description
        &-description {
            padding: 0 $unit $unit;

            @include bp(md) {
                padding: 0;
            }

            p {
                &:last-of-type {
                    margin-bottom: 0;
                }
            }

            h3 {
                text-align: center;


                @include bp(md) {
                    text-align: left;
                }
            }
        }
    }
}

// supports css
@supports((display:grid) and (object-fit:cover)) {
    .about {
        &__content {
            @include bp(sm) {
                display: grid;
                grid-template-columns: repeat(2, minmax(0, 1fr));
            }

            @include bp(md) {
                padding: 0;
            }

            &-hero {
                @include bp(sm) {
                    order: 2;
                    width: auto;
                    height: 100%;
                    margin-bottom: 0;
                    grid-column: 2/3;
                }

                img {
                    height: 352px;
                    object-fit: cover;
                    object-position: bottom center;

                    @include bp(sm) {
                        height: 100%;
                    }

                    @include bp(lg) {
                        max-height: 100%;
                    }
                }
            }

            &-wrapper {
                @include bp(sm) {
                    display: flex;
                    flex-wrap: wrap;
                    order: 1;
                    padding: 3 * $unit;
                    grid-column: 1/2;
                    align-content: center;
                    margin-left: 0;
                }

                @include bp(md) {
                    width: unset;
                }

                @include bp(lg) {
                    align-content: flex-start;
                }
            }

            &-header {
                @include bp(sm) {
                    padding: 0;
                }
            }

            &-description {
                @include bp(sm) {
                    padding: 0;
                }

                h3 {
                    @include bp(sm) {
                        text-align: left;
                    }
                }
            }
        }
    }
}