// portfolio
.portfolio {

    // portfolio section intro
    &__intro {
        p {
            text-align: center;

            @include bp(md) {
                text-align: left;
            }
        }
    }

    // portfolio tablist - hidden under 992
    &__tablist {
        display: none;

        @include bp(xs) {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }

        &-tab {
            overflow: unset;
            text-overflow: unset;
            white-space: unset;

            @include bp(xs) {
                margin: 0 1 * $unit 1 * $unit;
            }

            @include bp(md) {
                margin: 0 1 * $unit 2 * $unit 0;
            }

            &:last-of-type {
                margin-right: 0;
            }
        }
    }

    // sections
    &__sections {
        position: relative;
    }

    // section
    &__section {
        padding: 0;
        margin-bottom: 2 * $unit;
        overflow: hidden;

        @include bp(xs) {
            max-height: 0;
            visibility: hidden;
            transform: translateY(-#{$unit});
            opacity: 0;
            margin-bottom: 0;
        }

        &--active {
            @include bp(xs) {
                max-height: 100%;
                visibility: visible;
                transform: translateY(0);
                opacity: 1;
                transition: transform .5s .5s, opacity .5s .5s
            }
        }
    }


    // article
    &__article {
        padding: 0;

        // nav
        &-nav {
            display: flex;
            text-align: center;
            justify-content: space-between;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            padding: $unit $unit 0;

            @include bp(sm) {
                padding: $unit * 2 $unit * 2 0;
            }

            .button {
                width: 3 * $unit;
                height: 3 * $unit;
                z-index: 1;

                &:disabled {
                    color: $color-grayscale--light;
                    box-shadow: none;
                    cursor: not-allowed;

                    &::before {
                        opacity: .2;
                    }
                }
            }
        }

        // header
        &-header {
            padding: $unit 5 * $unit 0;

            @include bp(sm) {
                padding: 2 * $unit 6 * $unit 0;
            }

            h3 {
                min-height: 3 * $unit;
                width: 100%;
                position: relative;
                z-index: 99;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                margin-bottom: $unit;
            }
        }

        // card description
        &-content {
            padding: 0 $unit $unit;

            @include bp(sm) {
                padding: 0 2 * $unit 2 * $unit;
            }

            p {
                &:last-of-type {
                    margin-bottom: 0;
                }
            }
        }


        &--loading {
            transform: translateX(#{$unit});
            transition: $transition-default;
            opacity: 0;
        }

        &--active {
            transform: translateX(0);
            opacity: 1;
        }
    }
}


// grid support for lg bp

@supports (display:grid) {
    .portfolio {
        @include bp(lg) {
            display: grid;
            grid-template-columns: repeat(12, minmax(0, 1fr));
            grid-gap: 0 2 * $unit;
        }

        &__header {
            @include bp(lg) {
                grid-column: 1 / -1
            }
        }

        &__tablist {
            @include bp(lg) {
                grid-column: 1 / 4;
                display: block;
            }

            &-tab {
                @include bp(lg) {
                    margin-bottom: 2 * $unit;
                    width: 100%;
                    text-align: left;
                }
            }
        }

        &__intro {
            @include bp(lg) {
                grid-column: 1 / -1;
                grid-row-start: 2;
            }
        }

        &__sections {
            @include bp(lg) {
                grid-column: 4 / -1;
            }
        }

        &__article {
            &-nav {
                @include bp(lg) {
                    justify-content: flex-end;
                }

                &--previous {
                    @include bp(lg) {
                        margin-right: $unit;
                    }
                }
            }

            &-header {
                @include bp(lg) {
                    padding: 2 * $unit 10 * $unit 0 2 * $unit;
                }

                h3 {
                    @include bp(lg) {
                        justify-content: flex-start;
                        text-align: left;
                    }
                }
            }
        }
    }
}