// designer type
.designer-type {

    // card wrapper - non-grid support
    &__cards {
        @include bp(md) {
            display: flex;
            justify-content: space-between;
        }
    }

    // individual cards - non-grid support
    &__card {
        margin-bottom: 2 * $unit;

        @include bp(sm) {
            padding: 2 * $unit;
        }

        @include bp(md) {
            width: calc((100% - (4 * #{$unit})) / 3);
            padding: 0;
            margin-bottom: 0;
        }

        &:last-of-type {
            margin-bottom: 0;

            @include bp(md) {
                margin-bottom: unset;
            }
        }

        // card image
        &-image {
            width: 100%;
            height: 9 * $unit;
            border-radius: $border-radius-card;
            margin-bottom: $unit;

            @include bp(md) {
                margin-bottom: $unit;
                padding-top: $unit
            }

            @include bp(lg) {
                padding-top: 2 * $unit;
            }

            svg,
            img {
                display: block;
                fill: none;
                height: 100%;
                width: auto;
                margin: auto;
            }
        }

        // card header wrapper
        &-header {
            h4 {
                text-align: center;

                @include bp(sm) {
                    margin-bottom: $unit;
                }

                @include bp(md) {
                    padding: 0 2 * $unit;
                }
            }
        }

        // card description
        &-description {
            margin-bottom: 0;

            @include bp(md) {
                padding: 0 2 * $unit 2 * $unit;
            }
        }
    }

}

// css grid supported cards - change structure for even odd
@supports(display:grid) {
    .designer-type {

        // card wrapper
        &__cards {
            @include bp(md) {
                display: grid;
                grid-template-columns: repeat(3, minmax(0, 1fr));
                grid-gap: 2 * $unit;
            }
        }

        // all cards
        &__card {
            display: grid;
            grid-gap: 0 $unit;
            grid-template-columns: repeat(2, minmax(0, 1fr));

            @include bp(sm) {
                padding: 0;
                grid-gap: 0 2 * $unit;
                grid-template-columns: 200px minmax(0, 1fr);
            }

            @include bp(md) {
                display: block;
                width: unset;
                grid-gap: unset;
                grid-template-columns: unset;
                border-radius: $border-radius-card;
            }

            // even card rearrange order
            &:nth-of-type(even) {

                @include bp(sm) {
                    grid-template-columns: minmax(0, 1fr) 200px;
                }

                .designer-type__card-header {
                    order: -1;
                }

                .designer-type__card-image {
                    @include bp(sm) {
                        height: 100%;
                        grid-row: span 2;
                        border-radius: 0 $border-radius-card $border-radius-card 0;
                    }

                    @include bp(md) {
                        height: 9 * $unit;
                        grid-row: unset;
                        border-radius: $border-radius-card $border-radius-card 0 0;
                    }
                }

                .designer-type__card-header {
                    @include bp(sm) {
                        padding: 2 * $unit 0 0 2 * $unit;
                    }

                    @include bp(md) {
                        padding: 0 2 * $unit;
                    }
                }

                .designer-type__card-description {
                    @include bp(sm) {
                        grid-column: 1 / 2;
                        padding: 0 0 2 * $unit 2 * $unit;
                    }

                    @include bp(md) {
                        grid-column: unset;
                        padding: 0 2 * $unit 2 * $unit;
                    }
                }

            }

            // image
            &-image {
                grid-column: span 1;
                margin-bottom: 0;

                @include bp(sm) {
                    height: 100%;
                    grid-row: span 2;
                    border-radius: $border-radius-card 0 0 $border-radius-card;
                    padding: $unit 0;
                }

                @include bp(md) {
                    height: 9 * $unit;
                    grid-row: unset;
                    border-radius: $border-radius-card $border-radius-card 0 0;
                }

                svg,
                img {
                    width: 100%;
                    height: auto;

                    @include bp(md) {
                        height: 100%;
                        width: auto;
                    }
                }
            }

            // center header in column
            &-header {
                display: flex;
                justify-content: center;
                align-items: center;
                grid-column: span 1;

                @include bp(sm) {
                    grid-row: span 1;
                    padding: 2 * $unit 2 * $unit 0 0;
                }

                @include bp(md) {
                    grid-row: unset;
                    padding: 0 2 * $unit;
                }

                h4 {
                    @include bp(md) {
                        padding: 0;
                    }
                }
            }

            // description spans both columns
            &-description {
                grid-column: span 3;
                margin-top: $unit;

                @include bp(sm) {
                    margin-top: 0;
                    grid-column: 2 / 3;
                    padding: 0 2 * $unit 2 * $unit 0;
                }

                @include bp(md) {
                    grid-column: unset;
                    padding: 0 2 * $unit 2 * $unit;
                }
            }
        }
    }
}