// skills
.skills {

    // tiles wrapper - non-grid
    &__tiles {
        >ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
        }
    }

    // tiles (images) - non-grid
    &__tile {
        width: calc(50% - #{$unit});
        border-radius: $border-radius-card;
        background: #fff;
        box-shadow: $box-shadow-card;
        margin-bottom: 2 * $unit;
        height: 50%;
        display: block;
        flex: 0 1 auto;
        text-align: center;
        padding: $unit $unit $unit/2;

        @include bp(sm) {
            width: calc((100% - #{6 * $unit}) / 4);
            margin-right: 2 * $unit;
        }


        &:nth-of-type(odd) {
            margin-right: 2 * $unit;

            @include bp(sm) {
                margin-right: 2 * $unit;
            }
        }

        &:nth-of-type(4n+4) {
            @include bp(sm) {
                margin-right: 0;
            }
        }

        &:nth-last-of-type(-n+4) {
            margin-bottom: 0;
        }

        header {
            h4 {
                overflow-x: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }

        svg {
            width: 100%;
            height: auto;
        }
    }

    // css grid supported tiles    
    @supports (display:grid) {
        &__tiles {
            >ul {
                display: grid;
                flex-wrap: initial;
                justify-content: initial;
                grid-template-columns: repeat(2, minmax(0, 1fr));
                grid-gap: 2 * $unit;

                @include bp(sm) {
                    grid-template-columns: repeat(3, minmax(0, 1fr));
                }

                @include bp(md) {
                    grid-template-columns: repeat(4, minmax(0, 1fr));
                    grid-gap: 3 * $unit;
                }
            }
        }

        &__tile {
            width: auto;
            height: auto;
            flex: initial;
            margin-bottom: 0;
            margin-right: unset;
            padding-top: 1.5 * $unit;

            @include bp(sm) {
                display: flex;
                flex-direction: column;
                padding: 2*$unit 2*$unit $unit
            }

            @include bp(md) {
                width: 100%;
            }

            @include bp(lg) {
                padding: 1.5*$unit 2*$unit 2*$unit
            }

            @include bp(xl) {
                padding: 2*$unit 4*$unit 2*$unit;
            }

            &:nth-of-type(odd) {
                margin-right: initial;
            }

            &:nth-last-of-type(-n+2) {
                margin-bottom: initial;
            }

            header {
                @include bp(md) {
                    order: 2;
                }
            }

            svg {
                @include bp(md) {
                    order: 1;
                }

                @include bp(xl) {
                    margin-bottom: $unit;
                }
            }
        }
    }
}

// (-ms-ime-align:auto) (-webkit-text-stroke:initial) or (-ms-ime-align:auto)
// ((transform-style: preserve-3d) and (not ((-ms-ime-align:auto) or (-webkit-text-stroke:initial) or (-ms-ime-align:auto))))



// hover animations for skill tiles, does not work for ie11 or edge
@supports ((transform-style: preserve-3d) and (not(-ms-ime-align:auto)) or (not((-webkit-text-stroke:initial) or (-ms-ime-align:auto)))) {
    @include bp(md) {
        .skills__tile {
            &:hover {
                g.illustration-placeholder {
                    display: none;
                }
            }
        }

        .illustration-prototyping {
            cursor: default;

            &__button {
                rect {
                    fill: none;
                    opacity: 0;

                    .skills__tile:hover & {
                        fill: url(#g1);
                        opacity: 1;
                        transition: .5s ease .25s;
                        transition-property: opacity, transform;
                    }
                }
            }

            &__menu {
                opacity: 0;
                transform-origin: 50% 50%;
                transform: translate3d(0, -20px, 0);

                .skills__tile:hover & {
                    opacity: 1;
                    transform: translate3d(0, 0, 0);
                    transition: .5s ease .75s;
                    transition-property: opacity, transform;
                }
            }
        }

        .illustration-ui {
            &__middle {
                transform: translate3d(-20px, 0, 0);
                opacity: 0;

                .skills__tile:hover & {
                    transform: translate3d(0, 0, 0);
                    opacity: 1;
                    transition: .5s ease .25s;
                    transition-property: opacity, transform;
                }
            }

            &__right {
                transform: translate3d(-20px, 0, 0);
                opacity: 0;

                .skills__tile:hover & {
                    transform: translate3d(0, 0, 0);
                    transition: .5s ease .75s;
                    transition-property: opacity, transform;
                    opacity: 1;
                }
            }
        }

        .illustration-ia {
            &__row2 {
                transform: translate3d(0, -20px, 0);
                opacity: 0;

                .skills__tile:hover & {
                    transform: translate3d(0, 0, 0);
                    transition: .5s ease .25s;
                    transition-property: opacity, transform;
                    opacity: 1;
                }
            }

            &__row3 {
                transform: translate3d(0, -20px, 0);
                opacity: 0;

                .skills__tile:hover & {
                    transform: translate3d(0, 0, 0);
                    transition: .5s ease .75s;
                    transition-property: opacity, transform;
                    opacity: 1;
                }
            }

            &__row4 {
                transform: translate3d(0, -20px, 0);
                opacity: 0;

                .skills__tile:hover & {
                    transform: translate3d(0, 0, 0);
                    transition: .5s ease 1.25s;
                    transition-property: opacity, transform;
                    opacity: 1;
                }
            }
        }

        .illustration-design-systems {
            &__second {
                opacity: 0;

                .skills__tile:hover & {
                    transition: .5s ease .25s;
                    transition-property: opacity, transform;
                    opacity: 1;
                }
            }

            &__third {
                opacity: 0;

                .skills__tile:hover & {
                    transition: .5s ease .75s;
                    transition-property: opacity, transform;
                    opacity: 1;
                }
            }

            &__fourth {
                opacity: 0;

                .skills__tile:hover & {
                    transition: .5s ease 1.25s;
                    transition-property: opacity, transform;
                    opacity: 1;
                }
            }

            &__fifth {
                opacity: 0;

                .skills__tile:hover & {
                    transition: .5s ease 1.75s;
                    transition-property: opacity, transform;
                    opacity: 1;
                }
            }
        }

        .illustration-design-ops {
            &__check-top {
                opacity: 0;

                .skills__tile:hover & {
                    transition: .5s ease .25s;
                    transition-property: opacity, transform;
                    opacity: 1;
                }
            }

            &__check-bottom {
                opacity: 0;

                .skills__tile:hover & {
                    transition: .5s ease .75s;
                    transition-property: opacity, transform;
                    opacity: 1;
                }
            }

            &__new {
                opacity: 0;
                transform: translate3d(0, -20px, 0);

                .skills__tile:hover & {
                    transition: .5s ease 1.25s;
                    transition-property: opacity, transform;
                    transform: translate3d(0, 0, 0);
                    opacity: 1;
                }
            }
        }

        .illustration-ux-research {
            &__first {
                transform: translate3d(0, -10px, 0);
                opacity: 0;

                .skills__tile:hover & {
                    transition: .5s ease .25s;
                    transition-property: opacity, transform;
                    transform: translate3d(0, 0, 0);
                    opacity: 1;
                }
            }

            &__second {
                transform: translate3d(0, -10px, 0);
                opacity: 0;

                .skills__tile:hover & {
                    transition: .5s ease .75s;
                    transition-property: opacity, transform;
                    transform: translate3d(0, 0, 0);
                    opacity: 1;
                }
            }

            &__third {
                transform: translate3d(0, -10px, 0);
                opacity: 0;

                .skills__tile:hover & {
                    transition: .5s ease 1.25s;
                    transition-property: opacity, transform;
                    transform: translate3d(0, 0, 0);
                    opacity: 1;
                }
            }
        }

        .illustration-code {
            &__left {
                transform: translate3d(0, 0, 0);

                .skills__tile:hover & {
                    transition: .5s ease .25s;
                    transition-property: opacity, transform;
                    transform: translate3d(-8px, 0, 0);
                }
            }

            &__right {
                transform: translate3d(0, 0, 0);

                .skills__tile:hover & {
                    transition: .5s ease .25s;
                    transition-property: opacity, transform;
                    transform: translate3d(8px, 0, 0);
                }
            }

            &__slash {
                transform-origin: 50% 50%;
                transform: scale(1);

                .skills__tile:hover & {
                    transition: .5s ease .25s;
                    transition-property: opacity, transform;
                    transform: scale(1.1);
                }
            }
        }

        .illustration-analytics {
            &__third {
                transform: translate3d(0, -8px, 0);
                opacity: 0;

                .skills__tile:hover & {
                    transition: .5s ease .25s;
                    transition-property: opacity, transform;
                    transform: scaleY(1);
                    opacity: 1;
                }
            }

            &__fourth {
                transform: translate3d(0, -8px, 0);
                opacity: 0;

                .skills__tile:hover & {
                    transition: .5s ease .75s;
                    transition-property: opacity, transform;
                    transform: scaleY(1);
                    opacity: 1;
                }
            }
        }

        .illustration-agile {
            &__dot1 {
                circle {
                    fill: #fff;

                    .skills__tile:hover & {
                        fill: $color-primary;
                        transition: .5s ease .25s;
                        transition-property: opacity, transform, fill;
                    }
                }
            }

            &__dot2 {
                circle {
                    fill: #fff;

                    .skills__tile:hover & {
                        fill: $color-primary;
                        transition: .5s ease .75s;
                        transition-property: opacity, transform, fill;
                    }
                }
            }

            &__dot3 {
                circle {
                    fill: #fff;

                    .skills__tile:hover & {
                        fill: $color-primary;
                        transition: .5s ease 1.25s;
                        transition-property: opacity, transform, fill;
                    }
                }
            }

            &__circle1 {
                opacity: 0;

                .skills__tile:hover & {
                    opacity: 1;
                    transition: .5s ease 1.75s;
                    transition-property: opacity, transform, fill;
                }
            }

            &__dot4 {
                circle {
                    fill: #fff;

                    .skills__tile:hover & {
                        fill: $color-primary;
                        transition: .5s ease 2s;
                        transition-property: opacity, transform, fill;
                    }
                }
            }

            &__circle2 {
                opacity: 0;

                .skills__tile:hover & {
                    opacity: 1;
                    transition: .5s ease 2.75s;
                    transition-property: opacity, transform, fill;
                }
            }

            &__circle3 {
                opacity: 0;

                .skills__tile:hover & {
                    opacity: 1;
                    transition: .5s ease 3.25s;
                    transition-property: opacity, transform, fill;
                }
            }
        }

        .illustration-accessibility {
            &__middle {
                transform: translate3d(0, -10px, 0);
                opacity: 0;

                .skills__tile:hover & {
                    transition: .5s ease .25s;
                    transition-property: opacity, transform, fill;
                    transform: translate3d(0, 0, 0);
                    opacity: 1;
                }
            }

            &__bottom {
                transform: translate3d(0, -10px, 0);
                opacity: 0;

                .skills__tile:hover & {
                    transition: .5s ease .75s;
                    transition-property: opacity, transform, fill;
                    transform: translate3d(0, 0, 0);
                    opacity: 1;
                }
            }
        }

        .illustration-sketch {
            &__button {
                rect {

                    .skills__tile:hover & {
                        transition: .5s ease .25s;
                        transition-property: opacity, transform, fill;
                        fill: $color-secondary-purple
                    }
                }
            }

            &__artboard {
                rect {
                    stroke: #EEE;

                    .skills__tile:hover & {
                        transition: .5s ease .75s;
                        transition-property: opacity, transform, stroke;
                        stroke: $color-primary;
                    }
                }
            }

            &__layers-bottom {
                transform: translate3d(0, -24px, 0);

                .skills__tile:hover & {
                    transition: .5s ease .75s;
                    transition-property: opacity, transform, fill;
                    transform: translate3d(0, 0, 0);
                }
            }

            &__layers-top {
                transform: translate3d(0, -10px, 0);
                opacity: 0;

                .skills__tile:hover & {
                    transition: .5s ease 1.25s;
                    transition-property: opacity, transform, fill;
                    transform: translate3d(0, 0, 0);
                    opacity: 1;
                }
            }
        }

        .illustration-invision {
            &__tile1 {
                transform: translate3d(0, -8px, 0);
                opacity: 0;

                .skills__tile:hover & {
                    transition: .5s ease .25s;
                    transition-property: opacity, transform;
                    transform: translate3d(0, 0, 0);
                    opacity: 1;
                }
            }

            &__tile2 {
                transform: translate3d(0, -8px, 0);
                opacity: 0;

                .skills__tile:hover & {
                    transition: .5s ease .35s;
                    transition-property: opacity, transform;
                    transform: translate3d(0, 0, 0);
                    opacity: 1;
                }
            }

            &__tile3 {
                transform: translate3d(0, -8px, 0);
                opacity: 0;

                .skills__tile:hover & {
                    transition: .5s ease .45s;
                    transition-property: opacity, transform;
                    transform: translate3d(0, 0, 0);
                    opacity: 1;
                }
            }

            &__tile4 {
                transform: translate3d(0, -8px, 0);
                opacity: 0;

                .skills__tile:hover & {
                    transition: .5s ease 1s;
                    transition-property: opacity, transform;
                    transform: translate3d(0, 0, 0);
                    opacity: 1;
                }
            }

            &__tile5 {
                transform: translate3d(0, -8px, 0);
                opacity: 0;

                .skills__tile:hover & {
                    transition: .5s ease 1.1s;
                    transition-property: opacity, transform;
                    transform: translate3d(0, 0, 0);
                    opacity: 1;
                }
            }

            &__tile6 {
                transform: translate3d(0, -8px, 0);
                opacity: 0;

                .skills__tile:hover & {
                    transition: .5s ease 1.2s;
                    transition-property: opacity, transform;
                    transform: translate3d(0, 0, 0);
                    opacity: 1;
                }
            }

            &__tile7 {
                transform: translate3d(0, -8px, 0);
                opacity: 0;

                .skills__tile:hover & {
                    transition: .5s ease 1.7s;
                    transition-property: opacity, transform;
                    transform: translate3d(0, 0, 0);
                    opacity: 1;
                }
            }

            &__tile8 {
                transform: translate3d(0, -8px, 0);
                opacity: 0;

                .skills__tile:hover & {
                    transition: .5s ease 1.8s;
                    transition-property: opacity, transform;
                    transform: translate3d(0, 0, 0);
                    opacity: 1;
                }
            }

            &__tile9 {
                transform: translate3d(0, -8px, 0);
                opacity: 0;

                .skills__tile:hover & {
                    transition: .5s ease 1.9s;
                    transition-property: opacity, transform;
                    transform: translate3d(0, 0, 0);
                    opacity: 1;
                }
            }
        }
    }
}