// skills
.skills {

    // tiles wrapper - non-grid
    &__tiles {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    // tiles (images) - non-grid
    &__tile {
        width: calc(50% - #{$unit});
        border-radius: $border-radius-card;
        background: #fff;
        box-shadow: $box-shadow-card;
        margin-bottom: 2 * $unit;
        height: 50%;
        display: block;
        flex: 0 1 auto;

        @include bp(sm) {
            width: calc((100% - #{6 * $unit}) / 4);
            margin-right: 2 * $unit;
        }

        &:nth-of-type(odd) {
            margin-right: 2 * $unit;

            @include bp(sm) {
                margin-right: 2 * $unit;
            }
        }

        &:nth-of-type(4n+4) {
            @include bp(sm) {
                margin-right: 0;
            }
        }

        &:nth-last-of-type(-n+4) {
            margin-bottom: 0;
        }
    }

    // css grid supported tiles    
    @supports (display:grid) {
        &__tiles {
            display: grid;
            flex-wrap: initial;
            justify-content: initial;
            grid-template-columns: 1fr 1fr;
            grid-gap: 2 * $unit;

            @include bp(sm) {
                grid-template-columns: repeat(4, 1fr);
            }
        }

        &__tile {
            width: 100%;
            height: initial;
            flex: initial;
            margin-bottom: 0;

            &:nth-of-type(odd) {
                margin-right: initial;
            }

            &:nth-last-of-type(-n+2) {
                margin-bottom: initial;
            }
        }
    }
}