// hero
.portfolio__article-header {
    figure {
        margin: 0 $unit;

        @include bp(sm) {
            margin: 0 2*$unit;
        }

        .hero {
            margin-top: $unit * 2;
            margin-bottom: $unit * 2;
            position: relative;


            @include bp(sm) {
                margin-bottom: $unit * 4;
            }

            img {
                box-shadow: $box-shadow-card;
                cursor: pointer;
                width: 100%;
            }
        }
    }
}

// back to top link
.portfolio__article-back-to-top {
    text-align: center;
    margin-bottom: $unit;

    @include bp(sm) {
        margin-bottom: $unit * 2
    }
}

// article interior
.portfolio__article-content {

    padding: 0 $unit $unit;

    @include bp(sm) {
        padding: 0 2 * $unit 2 * $unit;
    }

    p,
    ul,
    header,
    figure>div,
    figcaption {
        max-width: 38 * $unit;
        margin-left: auto;
        margin-right: auto;
    }

    a {
        @extend .inline-link;
    }

    h4 {
        margin-top: $unit;
    }


    >section {
        position: relative;
        margin-bottom: $unit * 2;
        padding-bottom: $unit * 1;

        @include bp(sm) {
            margin-bottom: $unit * 4;
            padding-bottom: $unit * 2;
        }

        &::after {

            @include bp(sm) {
                content: "";
                width: 64px;
                min-width: 4 * $unit;
                height: 4px;
                position: absolute;
                bottom: -4px;
                left: 50%;
                transform: translateX(-50%);
                border-radius: 99em;
                background: $color-background-gray--darker;
            }
        }

        &:last-of-type {
            &::after {
                content: none;
            }
        }


        >header {

            h3 {
                position: relative;
                display: inline-block;

                &:after {
                    content: "";
                    background: $color-primary;
                    border-radius: 99em;
                    width: calc(100%+#{$unit});
                    position: absolute;
                    left: -$unit;
                    bottom: 10%;
                    height: 40%;
                    z-index: -1;
                }
            }
        }
    }

    .lists {
        @include bp(sm) {
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            justify-content: space-between;
            max-width: 584px;
            margin-left: auto;
            margin-right: auto;
        }

        ul {
            @include bp(sm) {
                flex: 0 0 calc(50% - #{2*$unit});
                margin-top: 0;
            }


            header {
                h4 {
                    @include bp(sm) {
                        margin-top: 0;
                    }
                }
            }
        }
    }


    figure {
        margin: 0 0 $unit;

        @include bp(sm) {
            margin-bottom: $unit*2;
        }

        @include bp(md) {
            margin-bottom: $unit*3;
        }

        >div {
            @include bp(sm) {
                // padding: $unit * 2;
                // background: $color-background-gray;
            }

            @include bp(md) {
                display: flex;
                flex-wrap: wrap;
                align-items: flex-end;
                justify-content: space-between;
            }

            @include bp(lg) {
                justify-content: center
            }
        }

        img {
            margin: 0 auto $unit;
            border: 1px solid $color-background-gray--darker;
            cursor: pointer;


            @include bp(sm) {
                width: 75%;
            }

            @include bp(md) {
                width: calc(50% - #{$unit});
                height: auto;
            }

            @include bp(lg) {
                max-width: 400px;
                height: auto;
            }
        }

        figcaption {
            margin-top: $unit;

            @include bp(sm) {
                margin-top: 0
            }
        }


        .max {
            max-width: 100%;

            img {
                width: 100%;
                max-width: 100%;
                height: auto;
                max-height: none;
            }
        }
    }
}



// dribbble article content section only

#portfolio-section-recent {
    >article {
        @include bp(sm) {
            padding-bottom: 2*$unit
        }
    }
}

#dribbble-feed {

    @include bp(sm) {
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        justify-content: space-between;
        // background: $color-background-gray;
        margin: 0 2 * $unit;
    }

    a {
        display: block;
        opacity: 1;
        margin-bottom: 2 * $unit;

        @include bp(sm) {
            flex-basis: 48%;
        }
    }

    img {
        border: 1px solid $color-background-gray--darker;
    }
}




// grid support
@supports (display:grid) {
    .portfolio__article-content {
        figure {
            >div {
                @include bp(sm) {
                    display: grid;
                    grid-template-columns: minmax(0, 1fr);
                    grid-auto-columns: minmax(0, 1fr);
                    grid-auto-flow: column;
                    grid-gap: 0 2*$unit;
                    align-items: center;
                }

            }

            img {
                @include bp(sm) {
                    margin: 0 auto $unit;
                    width: auto;
                    max-width: 100%;
                    max-height: 400px;
                }
            }
        }
    }
}


// grid with object fit support

@supports (display:grid) and (object-fit:cover) {
    .portfolio__article-content {
        figure {
            >div {

                // max 400px height for object fit supported browsers, unlimited height for ie11 (basically max helper class)
                &.cover {
                    @include bp(md) {
                        height: 400px;
                        margin-bottom: $unit;
                    }


                    img {
                        @include bp(md) {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            object-position: 0 0;
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }
}