// hero
.portfolio__article-header {
    figure {
        margin: 0 $unit;

        @include bp(sm) {
            margin: 0 2*$unit;
        }

        .hero {
            margin-top: $unit * 2;
            margin-bottom: $unit * 2;
            position: relative;

            @include bp(sm) {
                margin-bottom: $unit * 4;
            }

            img {
                box-shadow: $box-shadow-card;
                cursor: pointer;
            }
        }
    }
}

// back to top link
.portfolio__article-back-to-top {
    text-align: center;
    margin-bottom: $unit;

    @include bp(sm) {
        margin-bottom: $unit * 2
    }
}

// article interior
.portfolio__article-content {

    padding: 0 $unit $unit;

    @include bp(sm) {
        padding: 0 2 * $unit 2 * $unit;
    }

    a {
        @extend .inline-link;
    }

    h4 {
        margin-top: $unit;
    }




    >section {
        position: relative;
        margin-bottom: $unit * 2;
        padding-bottom: $unit * 1;

        @include bp(sm) {
            margin-bottom: $unit * 4;
            padding-bottom: $unit * 2;
        }

        &::after {
            content: "";
            width: 40%;
            min-width: 4 * $unit;
            height: 8px;
            position: absolute;
            bottom: -4px;
            left: 50%;
            transform: translateX(-50%);
            border-radius: 99em;
            background: $color-background-gray--darker;
        }

        &:last-of-type {
            &::after {
                content: none;
            }
        }


        >header {
            h3 {
                position: relative;
                display: inline-block;

                &:after {
                    content: "";
                    background: $color-primary;
                    border-radius: 99em;
                    width: calc(100%+#{$unit/2});
                    position: absolute;
                    left: -$unit/4;
                    bottom: 10%;
                    height: 40%;
                    z-index: -1;
                }
            }
        }
    }

    .lists {
        @include bp(sm) {
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            justify-content: space-between;
        }

        ul {
            @include bp(sm) {
                flex: 0 0 calc(50% - #{2*$unit});
                margin-top: 0;
            }


            header {
                h4 {
                    @include bp(sm) {
                        margin-top: 0;
                    }
                }
            }
        }
    }


    figure {
        margin: 0;

        @include bp(sm) {
            margin-bottom: $unit*2;
        }

        @include bp(md) {
            margin-bottom: $unit*3;
        }

        >div {
            @include bp(sm) {
                padding: $unit * 2;
                background: $color-background-gray;
            }

            @include bp(md) {
                display: flex;
                flex-wrap: wrap;
                align-items: flex-end;
                justify-content: space-between;
            }

            @include bp(lg) {
                justify-content: center
            }
        }

        img {
            margin: 0 auto $unit;
            border: 1px solid $color-background-gray--darker;
            cursor: pointer;

            &:last-of-type {
                margin-bottom: 0;
            }

            @include bp(sm) {
                width: 75%;
            }

            @include bp(md) {
                width: calc(50% - #{$unit});
                height: auto;
                margin: 0 0 2 * $unit;
            }

            @include bp(lg) {
                max-width: 400px;
                height: auto;
                margin: 0 2 * $unit 2 * $unit;
            }
        }

        figcaption {
            margin-top: $unit;
        }


        .max {
            img {
                width: 100%;
                max-width: 100%;
                height: auto;
                max-height: none;
            }
        }
    }
}

@supports (display:grid) {
    .portfolio__article-content {
        .hero {
            img {
                max-width: none;
                width: 100%;
                height: auto;
            }
        }

        figure {
            >div {
                @include bp(sm) {
                    display: grid;
                    grid-template-columns: minmax(0, 1fr);
                    grid-auto-columns: minmax(0, 1fr);
                    grid-auto-flow: column;
                    grid-gap: 0 2*$unit;
                    align-items: center;
                }

            }

            img {
                @include bp(sm) {
                    margin: 0 auto;
                    width: auto;
                    max-width: 100%;
                    max-height: 400px;
                }
            }
        }

    }
}



// dribbble article content section only
#dribbble-feed {
    @include bp(sm) {
        display: flex;
        flex-wrap: wrap;

        @include bp(sm) {
            justify-content: space-between
        }
    }

    a {
        opacity: 1;
        margin-bottom: 2 * $unit;

        @include bp(sm) {
            flex-basis: 48%;
        }
    }

    img {
        border: 1px solid $color-background-gray--darker;
    }
}

@supports (display:grid) and (object-fit:cover) {
    .portfolio__article-content {
        .hero {
            @include bp(sm) {
                height: 400px;
            }

            img {
                max-width: none;
                width: 100%;
                height: auto;

                @include bp(sm) {
                    height: 100%;
                    max-height: 400px;
                    object-fit: cover;
                    object-position: 0% 0%;
                }
            }
        }

        figure {
            >div {

                // max 400px height for object fit supported browsers, unlimited height for ie11 (basically max helper class)
                &.cover {
                    @include bp(md) {
                        height: 400px;
                    }


                    img {
                        @include bp(md) {
                            max-height: none;
                            width: 100%;
                            height: 100%;
                            object-fit: cover
                        }
                    }
                }

            }
        }

    }
}