// site header
.site-header {
    position: relative;
    min-height: 24 * $unit;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    padding: 0 $unit;

    @include bp(sm){
        min-height: 35 * $unit;
        padding: 8 * $unit $unit * 2;
    }
    @include bp(md){
        min-height: 30 * $unit;
        padding: 8 * $unit $unit * 4;
    }

    @include bp(lg){
        // padding: 8 * $unit $unit * 4 8 * $unit 8 * $unit;
        width: calc(100% - (#{4 * $unit}));
        margin-left: 4 * $unit
    }

    // gradient
    &::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background-image: $gradient-primary;
        z-index: -1;
    }

    // background image
    &::after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background: transparent url('https://picsum.photos/800?image=299') no-repeat 50% 100%;
        background-size: cover;
        z-index: -2;
    }

    h1,
    h2 {
        text-align: center;

        @include bp(md){
            text-align: left;
        }
    }

    h1,
    h2 {
        flex-basis: 100%;
    }

    h2 {
        margin-bottom: 0
    }
}