// site header
.site-header {
    position: relative;
    min-height: 24 * $unit;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    z-index: 0;
    padding: 0 $unit;

    // gradient
    &::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background-image: $gradient-primary;
        z-index: -1;
    }

    // background image
    &::after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background: transparent url('https://picsum.photos/800?image=299') no-repeat 50% 100%;
        background-size: cover;
        z-index: -2;
    }

    h1,
    h2 {
        text-align: center
    }

    h1 {
        flex-basis: 100%;
    }

    h2 {
        margin-bottom: 0
    }
}