// site header
.site-header {
    position: relative;
    min-height: 24 * $unit;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    padding: 0 $unit;
    background: $gradient-primary;

    @include bp(sm) {
        min-height: 24 * $unit;
        padding: 8 * $unit $unit * 2;
    }

    @include bp(md) {
        min-height: 30 * $unit;
        padding: 8 * $unit $unit * 4;
    }

    @include bp(lg) {
        width: calc(100% - (#{3 * $unit}));
        margin-left: 3 * $unit
    }

    // grid
    &::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        opacity: .5;
        background: transparent url('/portfolio/img/site-header-bg-grid.svg');
        background-size: 100px 100px;
        z-index: -2;
    }

    // background image
    &::after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background: transparent url('/portfolio/img/site-header-bg.svg') no-repeat 50% 25%;
        background-size: 400px 800px;
        z-index: -1;

        @supports(filter: grayscale(1)) {
            filter: saturate(.5)
        }

        @include bp(sm) {
            background-position: 50% 25%;
        }

        @include bp(md) {
            background-position: 92% 10%;
        }

        @include bp(lg) {
            background-size: 700px 800px;
            background-position: 100% 0%;
        }
    }

    h1,
    h2 {
        text-align: center;
        flex-basis: 100%;
        color: $color-grayscale;

        @include bp(md) {
            text-align: left;
        }
    }

    h2 {
        margin-bottom: 0
    }
}