// main content section
main {
    background: $gradient-background;

    @include bp(lg) {
        width: calc(100% - (#{3 * $unit}));
        margin-left: 3 * $unit
    }
}

.main-padded {
    padding: 5 * $unit $unit;

    @include bp(sm) {
        padding: 8 * $unit $unit * 4;
    }

    @include bp(md) {
        padding: 8 * $unit 4 * $unit;
    }

    @include bp(lg) {
        padding: 9 * $unit 4 * $unit;
    }
}

// content section
.content-section {
    margin-bottom: 5 * $unit;

    @include bp(sm) {
        margin-bottom: 8 * $unit;
    }

    @include bp(lg) {
        margin-bottom: 9 * $unit;
    }
}

// section headers
.section-header {
    position: relative;

    // @include bp(md){
    //     margin-bottom: 2 * $unit;
    // }

    >h2 {
        text-align: center;

        @include bp(md) {
            text-align: left;
        }
    }
}