// site header
.site-header {
    position: relative;
    height: 0;
    min-height: 24 * $unit;
    display: flex;
    flex-direction: column;
    padding: 0 $unit;
    z-index: 0;
    background: transparent url('../img/site-header-bg-grid.svg');
    background-size: 100px 100px;

    @include bp(sm) {
        min-height: 24 * $unit;
        padding: 8 * $unit $unit * 2;
    }

    @include bp(md) {
        min-height: 30 * $unit;
        padding: 8 * $unit $unit * 4;
    }

    @include bp(lg) {
        width: 100%
    }

    // grid
    &::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background: $gradient-primary;
    }

    // background image
    &::after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background: transparent url('../img/site-header-bg.svg') no-repeat 50% 25%;
        background-size: 400px 800px;
        z-index: -3;
        opacity: .9;

        @supports(filter: grayscale(1)) {
            filter: grayscale(1);
            opacity: 1;
        }

        @include bp(sm) {
            background-position: 50% 25%;
        }

        @include bp(md) {
            background-position: 92% 10%;
        }

        @include bp(lg) {
            background-size: 700px 800px;
            background-position: 100% 0%;
        }

        @media (min-width:101em) {
            background-position: 95% 0%;
        }

        @media (min-width:120em) {
            background-position: 87% 0%;
        }

        @media (min-width:140em) {
            background-position: 80% 0%;
        }

        @media (min-width:160em) {
            background-position: 73% 0%;
        }
    }

    .wrapper {
        z-index: 0;
    }

    h1,
    h3 {
        text-align: center;
        flex-basis: 100%;
        color: $color-grayscale;

        @include bp(md) {
            text-align: left;
        }
    }

    h3 {
        margin-bottom: 0
    }
}