html {
    font-size: 100%;
}

body {
    font-family: $font-family-body, $font-family-fallback;
    font-size: 14px;
    line-height: 1.75;
    color: $color-grayscale;

    @include bp(md) {
        font-size: 18px;
        line-height: 1.75;
    }
}

p {
    margin-top: 0;
    margin-bottom: 1 * $unit;
    overflow: hidden;
    text-overflow: ellipsis;
    color: $color-grayscale--light;

    @include bp(md) {
        margin-bottom: 2 * $unit;
    }
}

.inline-link {
    display: inline;
    color: $color-secondary-blue;
    opacity: .8;
    font-weight: 700;

    &:hover,
    &:focus {
        opacity: 1;
        text-decoration: none;
    }
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
label {
    color: $color-grayscale;
    font-weight: 700;
    margin-top: 0;
}

h1,
.h1 {
    font-family: $font-family-heading, $font-family-fallback;
    font-size: 16vw;
    line-height: 1.05;
    letter-spacing: -1px;
    margin-bottom: $unit;

    // responsive font sizes for small devices, font-size divided by max of 374 for viewport units
    @include bp(xs) {
        font-size: 61px;
    }
}

h2,
.h2 {
    font-family: $font-family-heading, $font-family-fallback;
    font-size: 11vw;
    line-height: 1.56;
    letter-spacing: -1px;
    margin-bottom: $unit;

    // responsive font sizes for small devices, font-size divided by max of 374 for viewport units
    @include bp(xs) {
        font-size: 41px;
    }
}

h3,
.h3 {
    font-family: $font-family-heading, $font-family-fallback;
    font-size: 6vw;
    line-height: 1.4545;
    letter-spacing: -0.25px;
    margin-bottom: $unit;

    @include bp(xs) {
        font-size: 22px;
    }
}

h4,
.h4,
label {
    font-family: $font-family-heading, $font-family-fallback;
    font-size: 14px;
    line-height: 1.75;
    letter-spacing: -0.25px;
    margin-bottom: 0;

    @include bp(md) {
        font-size: 18px;
    }
}

ul {
    color: $color-grayscale--light;
    margin: $unit 0;
    padding-left: 0;

    @include bp(md) {
        margin-bottom: $unit * 2
    }

    li {
        margin-left: $unit * 2;
        padding-left: 0;
    }
}

input[type="email"],
textarea {
    font-size: 16px;

    @include bp(md) {
        font-size: 18px;
    }
}


figcaption {
    font-size: 13px;
    line-height: 1.5;
    color: $color-grayscale--lighter;
    text-align: center;
    font-style: italic;

    @include bp(md) {
        font-size: 14px;
    }
}

button,
.button {
    font-family: $font-family-heading;
    font-weight: 700;
    font-size: 18px;
    line-height: 1;
    color: #fff;
    letter-spacing: -.25px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}