html {
    font-size: 100%;
}

body {
    font-family: $font-family-body, $font-family-fallback;
    font-size: 14px;
    line-height: 1.75;

    @include bp(lg) {
        font-size: 18px;
        line-height: 1.75;
    }
}

p {
    margin-top: 0;
    margin-bottom: 2 * $unit;
    overflow: hidden;
    text-overflow: ellipsis;
    color: $color-grayscale--light;
}

.inline-link {
    display: inline;
    color: $color-secondary-blue;
    opacity: .8;
    font-weight: 700;

    &:hover,
    &:focus {
        opacity: 1;
        text-decoration: none;
    }
}

h1,
h2,
h3,
label {
    font-family: $font-family-heading, $font-family-fallback;
    color: $color-grayscale;
    font-weight: 900;
    margin-top: 0;
}

h1 {
    font-size: 16vw;
    line-height: 1.05;
    letter-spacing: -1px;
    margin-bottom: $unit;

    // responsive font sizes for small devices, font-size divided by max of 374 for viewport units
    @include bp(xs) {
        font-size: 61px;
    }
}

h2 {
    font-size: 11vw;
    line-height: 1.56;
    letter-spacing: -1px;
    margin-bottom: $unit;

    // responsive font sizes for small devices, font-size divided by max of 374 for viewport units
    @include bp(xs) {
        font-size: 41px;
    }
}

h3,
label {
    font-size: 14px;
    line-height: 1.75;
    letter-spacing: -0.25px;
    margin-bottom: 0;

    @include bp(lg) {
        font-size: 18px;
    }
}

input[type="email"],
textarea{
    font-size: 16px;

    @include bp(lg) {
        font-size: 18px;
    }
}

button,
.button {
    font-family: $font-family-heading;
    font-weight: 900;
    font-size: 18px;
    line-height: 1;
    color: #fff;
    letter-spacing: -.25px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}