// negative space
$unit: 16px;

// color
$color-grayscale: rgba(black, .8);
$color-grayscale--light: rgba(black, .65);
$color-grayscale--lighter: rgba(black, .5);
$color-primary: #FFE800;
$color-secondary-blue: #005DA0;
$color-secondary-blue--light: lighten($color-secondary-blue, 10%);
$color-secondary-purple: #6000E6;
$color-background-gray: #FCFCFC;
$color-background-gray--dark: #F8F8F8;
$color-background-gray--darker: #F5F5F5;

// breakpoints
$bp-375: 23.4375em;
$bp-768: 48em;
$bp-992: 62em;
$bp-1200: 75em;
$bp-1440: 90em;
$bp-max-374: 23.375em;
$bp-max-767: 47.9375em;
$bp-max-991: 62.9375em;
$bp-max-1199: 74.9375em;
$bp-max-1439: 89.9375em;

// border radius
$border-radius-card: $unit/8;
$border-radius-portfolio-hero: $unit/8 $unit/8 0 0;

// box shadows
$box-shadow-card: 0 48px 32px -24px rgba(0, 0, 0, 0.05);

$box-shadow-button: 0 14px 14px -10px rgba(0, 0, 0, 0.20);
$box-shadow-button--hover: 0 16px 16px -10px rgba(0, 0, 0, 0.20);

$box-shadow-tab--inactive: none;
$box-shadow-tab--inactive-hover: $box-shadow-button--hover;

$box-shadow-tab--active: $box-shadow-button--hover;
$box-shadow-tab--active-hover: $box-shadow-button--hover;

$box-shadow-input: $box-shadow-button;

// gradient
$gradient-background: linear-gradient(135deg, $color-background-gray 0%, $color-background-gray--dark 100%);
$gradient-primary: linear-gradient(135deg, $color-primary 0%, rgba($color-primary, 0.75) 100%);
$gradient-dark: linear-gradient(135deg, $color-grayscale 0%, rgba($color-grayscale--light, 0.75) 100%);
$gradient-button: linear-gradient(135deg, $color-secondary-purple 0%, $color-secondary-blue--light 100%);

// padding
$padding-button: 24px 32px 22px;
$padding-button--focus: 23px 31px 21px;

// transitions
$easing: cubic-bezier(.75, .25, .6, .9);
$transition-default: $easing .2s all;

// typography
$font-family-fallback: system-ui,
-apple-system,
BlinkMacSystemFont,
"Segoe UI",
Roboto,
Oxygen,
Ubuntu,
Cantarell,
Fira Sans,
"Droid Sans",
"Helvetica Neue",
sans-serif;
$font-family-heading: "Hind";
$font-family-body: Assistant;