// negative space
$unit: 16px;

// breakpoints
$bp-375: 23.4375em;
$bp-768: 48em;
$bp-1200: 75em;
$bp-1440: 90em;
$bp-max-374: 23.375em;
$bp-max-767: 47.9375em;
$bp-max-1199: 74.9375em;
$bp-max-1439: 89.9375em;

// border radius
$border-radius-card: $unit/4;
$border-radius-portfolio-hero: $unit/4 $unit/4 0 0;

// typography
$font-family-fallback: system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,"Droid Sans","Helvetica Neue",sans-serif;
$font-family-heading: Biryani;
$font-family-body: Assistant;

// color
$color-grayscale: #1F2225;
$color-grayscale--light: #40474F;
$color-grayscale--lighter: #636E79;
$color-primary: #FFE800;
$color-secondary-blue: #003AE6;
$color-secondary-purple: #6000E6;

// gradient
$gradient-background: linear-gradient(135deg, #FCFCFC 0%, #F8F8F8 100%);
$gradient-primary: linear-gradient(135deg, $color-primary 0%, rgba($color-primary, 0.75) 100%);
$gradient-button: linear-gradient(135deg, $color-secondary-purple 0%, $color-secondary-blue 100%);

// box shadows
$box-shadow-card: 0 32px 24px -16px rgba(0, 0, 0, 0.05);
$box-shadow-button: 0 14px 14px -14px rgba(0, 0, 0, 0.20);
$box-shadow-tab--active: 0 32px 24px -16px rgba($color-secondary-blue, 0.15);
