/* ===========================

Project Specific

=========================== */

// global
@import "partials/variables";
@import "partials/mixins";
@import "partials/base";
@import "partials/typography";
@import "partials/global";

// sections
@import "partials/site-header";
@import "partials/site-main";
@import "partials/site-footer";
@import "partials/main-designer-type";
@import "partials/main-skills";
@import "partials/main-portfolio";
@import "partials/main-about";
@import "partials/main-contact";


// Boilerplate Print Styles -- LAST
@import "partials/boilerplate/print";